<div class="home-container" [ngClass]="{'dark': darkTheme}">
  <div class="change-view">
    <div class="theme" (click)="updateTheme(true)">
      Dark Theme
    </div>
    <div class="theme" (click)="updateTheme(false)">
      Light Theme
    </div>
    <div class="view" (click)="updateView(true)">
      Grid View
    </div>
    <div class="view" (click)="updateView(false)">
      List View
    </div>
  </div>

  <form>
    <div aria-label="search-box" class="search-box">
      <input [(ngModel)]="searchText" placeholder="Search movies..." name="search"><br><br>
    </div>
    <div aria-label="filter" class="filter">
      <span class="filters" aria-label="language-filters">
        Language
      </span>
        <select [(ngModel)]="language" name="Language" placeholder="Language">
          <option *ngFor="let language of languages" [ngValue]="language">
            {{language}}
          </option>
        </select>
      

      <span aria-label="country-filters" class="filters">
        Country:
      </span>
        <select [(ngModel)]="country" name="Language" placeholder="Language">
          <option *ngFor="let country of countries" [ngValue]="country">
            {{country}}
          </option>
        </select>
      
    </div>
  </form>
  <div *ngIf="!tableView" aria-label="movie-titles" class="movie-titles">
    <div *ngFor="let movies of moviesDetail | filter : searchText : language : country">
      <div class="movies">
        <div class="movie-card">
          <h1 class="limited-text">{{movies.movie_title}}</h1>
        </div>
        <div aria-label="movie-deails" class="movie-deails">
          <strong>Directed By:</strong> {{movies.director_name}}<br>
          <strong>Starring:</strong> {{movies.actor_1_name}}, {{movies.actor_2_name}}<br>
          <strong>Language:</strong> {{movies.language}}<br>
          <strong>Country:</strong> {{movies.country}}<br>
          <strong>Rating:</strong> {{movies.content_rating}}<br>
          <strong>Budget:</strong> {{movies.budget}}<br>
          <strong>Year:</strong> {{movies.title_year}}<br>
          <span class="only-desktop">
          <strong>Plot:</strong> {{movies.plot_keywords}}<br>
          <strong>Genres:</strong> {{movies.genres}}<br>
          </span>
          <strong>Know more:</strong><a href="movies.movie_imdb_link"> IMDB link</a>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="tableView" class="table-container">
<table>
  <tr>
    <th>Movie</th>
    <th>Directed By</th>
    <th>Starring</th>
    <th>Language</th>
    <th>Country</th>
    <th>Rating</th>
    <th>Budget</th>
    <th>Year</th>
    <th>Plot</th>
    <th>Genre</th>
  </tr>
  <tr [ngClass]="{'dark-row': darkTheme}" *ngFor="let movies of moviesDetail | filter : searchText : language : country">
    <td>{{movies?.movie_title}}</td>
    <td>{{movies?.director_name}}</td>
    <td>{{movies?.actor_1_name}}, {{movies.actor_2_name}}}}</td>
    <td>{{movies?.language}}</td>
    <td>{{movies?.country}}</td>
    <td>{{movies?.content_rating}}</td>
    <td>{{movies?.budget}}</td>
    <td>{{movies?.title_year}}</td>
    <td>{{movies?.plot_keywords}}</td>
    <td>{{movies?.genres}}</td>
  </tr>
</table>
</div>

</div>
