<div class="home-container" [ngClass]="{'dark': darkTheme}">
  <div class="change-view">
    <div class="theme" (click)="updateTheme(true)">
      Dark Theme
    </div>
    <div class="theme" (click)="updateTheme(false)">
      Light Theme
    </div>
    <div class="view" (click)="updateView(true)">
      Grid View
    </div>
    <div class="view" (click)="updateView(false)">
      List View
    </div>
  </div>

  <form>
    <div aria-label="search-box" class="search-box">
      <input [(ngModel)]="searchText" placeholder="Search movies..." name="search"><br><br>
    </div>
    <div aria-label="filter" class="filter">
      <span class="filters" aria-label="language-filters">
        Language
      </span>
        <select [(ngModel)]="language" name="Language" placeholder="Language">
          <option *ngFor="let language of languages" [ngValue]="language">
            {{language}}
          </option>
        </select>
      

      <span aria-label="country-filters" class="filters">
        Country:
      </span>
        <select [(ngModel)]="country" name="Language" placeholder="Language">
          <option *ngFor="let country of countries" [ngValue]="country">
            {{country}}
          </option>
        </select>
      
    </div>
  </form>

  <mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[10]"
              (page)="changePage($event)">
</mat-paginator>

  <div *ngIf="!tableView" aria-label="movie-titles" class="movie-titles">
    <div *ngFor="let movies of moviesDetail | filter : searchText : language : country : director : actor : genre : budget : year : from : to">
      <div class="movies">
        <div class="movie-card">
          <h1 class="limited-text">{{movies.movie_title}}</h1>
        </div>
        <div aria-label="movie-deails" class="movie-deails">
          <strong>Directed By:</strong> {{movies.director_name}}<br>
          <strong>Starring:</strong> {{movies.actor_1_name}}, {{movies.actor_2_name}}<br>
          <strong>Language:</strong> {{movies.language}}<br>
          <strong>Country:</strong> {{movies.country}}<br>
          <strong>Rating:</strong> {{movies.content_rating}}<br>
          <strong>Budget:</strong> {{movies.budget}}<br>
          <strong>Year:</strong> {{movies.title_year}}<br>
          <span class="only-desktop">
          <strong>Plot:</strong> {{movies.plot_keywords}}<br>
          <strong>Genres:</strong> {{movies.genres}}<br>
          </span>
          <strong>Know more:</strong><a href="movies.movie_imdb_link"> IMDB link</a>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="tableView" class="table-container" (window:resize)="onResize($event)">
<table>
  <tr>
    <th>Movie</th>
    <th>Directed By</th>
    <th>Starring</th>
    <th>Language</th>
    <th>Country</th>
    <th>Genre</th>
    <th>Budget</th>
    <th>Year</th>
  </tr>
  <tr>
    <th>
      <div aria-label="search-box" class="search-box-table">
        <input [(ngModel)]="searchText" placeholder="Enter movies" name="search">
      </div>
    </th>
    <th>
      <div aria-label="search-box" class="search-box-table">
        <input [(ngModel)]="director" placeholder="Enter director" name="search">
      </div>
    </th>
    <th>
      <div aria-label="search-box" class="search-box-table">
        <input [(ngModel)]="actor" placeholder="Enter actor" name="search">
      </div>
    </th>
    <th>
      <select [(ngModel)]="language" name="language" class="search-box-table" placeholder="Language">
        <option *ngFor="let language of languages" [ngValue]="language">
          {{language}}
        </option>
      </select>
    </th>
    <th>
      <select [(ngModel)]="country" name="country" placeholder="Language">
      <option *ngFor="let country of countries" [ngValue]="country">
        {{country}}
      </option>
      </select>
    </th>
    <th>
    <div aria-label="search-box" class="search-box-table">
      <input [(ngModel)]="genre" placeholder="Enter genre" name="search">
    </div>
    </th>
    <th>
      <div aria-label="search-box" class="search-box-table">
        <input [(ngModel)]="budget" placeholder="Enter budget" name="search">
      </div>
    </th>
    <th>
      <div aria-label="search-box" class="search-box-table">
        <input [(ngModel)]="year" placeholder="Enter year" name="search">
      </div>
    </th>
  </tr>
  <tr [ngClass]="{'dark-row': darkTheme}" *ngFor="let movies of moviesDetail | filter : searchText : language : country : director : actor : genre : budget : year : from : to">
    <td><span class="limited-width">{{movies?.movie_title}}</span></td>
    <td *ngIf="movies.director_name; else noData">{{movies?.director_name}}</td>
    <td *ngIf="movies.actor_1_name; else noData">{{movies?.actor_1_name}}, <br>{{movies.actor_2_name}}</td>
    <td *ngIf="movies.language; else noData">{{movies?.language}}</td>
    <td *ngIf="movies.country; else noData">{{movies?.country}}</td>
    <td *ngIf="movies.genres; else noData"><span class="limited-width">{{movies?.genres}}</span></td>
    <td *ngIf="movies.budget; else noData">{{movies?.budget}}</td>
    <td *ngIf="movies.title_year; else noData">{{movies?.title_year}}</td>
    <ng-template #noData><td>Not Available</td></ng-template>
  </tr>
</table>
</div>
</div>
