.home-container{
    margin-top:55px;
    padding: 25px;
}
.search-box{
    padding:30px;
    text-align: center;
}
.change-view{
    height: 25px;
}
.dark{
    background: #2d4e66;
    font-family: Raleway;
    color: #dddddd;
}
.theme{
    display: inline;
    float: left;
    background: #1fa089ba;
    margin-left: 5px;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.view{
    display: inline;
    float: right;
    background: #1fa089ba;
    margin-left: 5px;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.search-box > input{
    width:65%;
    padding: 0 20px;
    color: #29627e;
    font-size: 25px;
    height: 46px;
    border: none;
    border-radius: 5px;
    font-family: raleway;
}
.search-box > button{
    width:35%;
}
.movies{
    height: 450px;;
}
.movie-titles{
    text-align: center;
}
.movie-card{
    width:25%;
    display:inline-block;
    border: .5px solid;
    margin: 10px;
    height: 270px;
    vertical-align: middle;
    padding: 10px;
}
.movie-deails{
    width: 50%;
    float: right;
    text-align: left;
    padding:10px 30px;
    line-height: 1.5;
}
.filter{
    text-align:center;
    padding-top:20px;
    padding-bottom:70px;
    font-size: 25px;
}
.filters{
    padding-right:15px;
}
select{
    color: #29627e;
    font-size: 25px;
    height: 46px;
    border: none;
    border-radius: 5px;
    font-family: raleway;
    background: #fff
}

.table-container{
    padding: 50px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.dark-row{
    background-color: #2d4e66 !important;
}
@media screen and (max-width: 768px){
    .movie-card{
        width:90%;
        height: 150px;
    }
    .movie-deails{
        width: 100%;
        padding:0;
    }
    .movies{
        padding-bottom: 0;
    }
    .search-box{
        padding:0;
    }
    .search-box > input{
        width:80%;
        font-size: 20px;
    }
    .filter{
        font-size: 15px;
    }
    .filters{
        padding-right:0;
    }
    select{
        font-size: 13px;
        height: 30px;
    }
    .only-desktop{
        display:none;
    }
}
@media screen and (max-width: 374px){
    select{
        font-size: 8px;
        height: 24px;
    }
}

.limited-text{
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display:inline-block;
}
.pages{
    width: 50%;
    text-align: center;
}
.boxes{
    display: inline;
    border: 1px solid #1fa089;
    padding: 6px;
    margin: 2px;
}